<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.8">
    <meta http-equiv="X-UA-compatible" content="ic=edge">
    <link rel="stylesheet" href="/static/css/main.css" >
    <title> Vuejs Javascript </title>
</head>
<body>
   <header>
       <h1> JS Vuejs Course </h1>
   </header>

   <section class="container">
       <form id="my_form">
          <h3>Add User</h3>
           <div class="msg"></div>
           <div>
               <label for="name"> Name </label>
               <input type="text" id="name">
           </div>
           <div>
               <label for="email">Email</label>
               <input type="text" id="email">
           </div>
           <input class="btn" type="submit" value="Submit">
       </form>
   </section>

   <form id="my_form">
       <h1>Add Item</h1>
       <div>
           <label for="results">Results</label>
           <input type="text" id="email">
       </div>
   </form>

   <script src="/static/javascript/main.js"></script>
</body>
</html>